body {
    background-color: #EEEEEE;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

header {
    background-image: url("old-paper-texture.png");
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    margin: 0;
    padding: 0;
    height: 416px;
    /* object-position: center; */
}

.gameRules {
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'IM Fell English SC', serif;
    font-size: 1.8rem;
}

ol {
    margin-top: -30px;
    margin-bottom: -30px;
}

.gameBody {
    font-family: 'IM Fell English SC', serif;
    font-size: 1.8rem;
    text-align: center;
}

#scissors {
    background-image: url("scissors.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    border-style: none;
    cursor: pointer; /* Add a mouse pointer on hover */
    font-family: 'Philosopher', sans-serif;
    height: 110px;
    margin: auto;
    width: 110px;
}

#paper {
    background-image: url("paper.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    border-style: none;
    cursor: pointer; /* Add a mouse pointer on hover */
    font-family: 'Philosopher', sans-serif;
    height: 110px;
    margin: auto;
    width: 110px;
}

#rock {
    background-image: url("rock.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    border-style: none;
    cursor: pointer; /* Add a mouse pointer on hover */
    font-family: 'Philosopher', sans-serif;
    height: 110px;
    margin: auto;
    width: 110px;
}

#rock:hover, #paper:hover, #scissors:hover {
    border: 1px solid grey;
    background-color: rgba(255, 255, 255, 0.5);
}

td, th {
    border: 1px solid grey;
    text-align: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: 'Philosopher', sans-serif;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 450px;
}

.tabledCounter {
    padding-top: 30px;
}

.highlightWinner {
    background-color: white;
}

.highlightLoser {
    background-color: white;
}

.highlightTie {
    background-color: white;
}

#refreshButton{
    font-family: 'Philosopher', sans-serif;
}

#gameResults {
    background-color: rgba(141, 141, 141, 0.493);
    display: none;
    font-family: 'Philosopher', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

#tryAgainButton {
    align-items: center;
    background-color: rgba(255, 174, 0, 1);
    cursor: pointer; /* Add a mouse pointer on hover */
    display: none;
    height: 50px;
    width: 100px;
    margin: auto;
    text-align: center;
    padding: 0;
    border:0;
}

#tryAgainButton:hover {
    background-color: rgba(255, 174, 0, 0.6);
}

#tryAgainText {
    font-family: 'Philosopher', sans-serif;
    display: inline-block;
}
